
@using PhoneShop.Models
@model List<MatHangMua>
@{
    ViewBag.Title = "HienThiGioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center">THÔNG TIN GIỎ HÀNG</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Ảnh bìa</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th>Chi tiết</th>
            <th>Cập nhật</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.NamePro</td>

                <td>
                    <img src="~/Images/@product.ImagePro" />
                </td>
                @using (Html.BeginForm("CapNhatMatHang", "GioHang", new { MaSP = product.ProductID }))
                {
                    <td>
                        <input type="number" min="1" value="@product.Quantity" name="SoLuong" />
                    </td>

                    <td>@product.Price.ToString("###,###,##0") VND</td>
                    <td>@product.ThanhTien()</td>
                    <td>
                        @Html.ActionLink("Chi tiết", "Details", "ItemShop", new { id = product.ProductID }, new { @class = "btn btn-success" })
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </td>
                }
                <td>
                    @Html.ActionLink("Xóa hàng", "XoaMatHang", "GioHang", new { MaSP = product.ProductID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
        <tr style="font-weight:bold; text-align:right; color:red;">
            <td colspan="5">Tổng số lượng: @ViewBag.TongSL</td>
            <td colspan="1">Tổng tiền: @ViewBag.TongTien.ToString("###,###,##0")</td>
        </tr>
        <tr style="font-weight:bold; text-align:center;">
            <td colspan="9">

                @Html.ActionLink("ĐẶT HÀNG", "DatHang", null, new { @class = "btn btn-primary"})

            </td>
        </tr>
    </tbody>
</table>